.contactPage{
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url("https://cdn.wallpapersafari.com/36/5/iXTctJ.jpg");
    background-size: cover;
    font-family: 'Varela', sans-serif;
}
.contactTitle{
    font-size: 50px;
    font-family: 'Varela', sans-serif;
    margin-bottom: 10px;
}
.contactSmTxt{
    margin-top: 5px;
    font-size: 16px;
    font-family: 'Varela', sans-serif;
}
.contactForm{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    font-family: 'Varela', sans-serif;
    justify-content: center;
    align-items: center;
}
.contactForm > label{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 0px;
    margin-right: 0px;
}
.contactUserInput{
    padding: 10px;
    background-color: white;
    border: none;
    width: 100%;
    font-family: 'Varela', sans-serif;
    font-size: 15px;
}
.contactDescInput{
    padding: 50px;
    background-color: white;
    border: none;
    width: 100%;
    font-family: 'Varela', sans-serif;
    font-size: 15px;
}
.contactButton{
    padding: 13px;
    margin-top: 20px;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    color: black;
    font-family: 'Varela', sans-serif;
}
